# ==========================
# Cinc / Chef
# ==========================

**/cinc_guid
**/local-mode-cache/
**/nodes/

**/.chef/
**/*.pem

# ==========================
# Ruby
# ==========================

**/.bundle/
**/vendor/

# ==========================
# Test Kitchen
# ==========================

**/.kitchen/
.kitchen.local.yml

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary files
# ==========================

*.swp
*.swo

# ==========================
# OS
# ==========================

.DS_Store
